<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>吃饭吧</title>
        <meta HTTP-EQUIV="pragma" CONTENT="no-cache"> 
		<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
		<meta HTTP-EQUIV="expires" CONTENT="0">
        <meta content="telephone=no" name="format-detection">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script>document.write("<script src='../../js/version.js?_=" + new Date().getTime() + "'><\/script>");</script>
		<script>document.write("<link rel='stylesheet' href='../../css/mui.min.css?v=" + v + "'>");</script>
		<script>document.write("<style type='text/css'>@import url('css/index.css?v=" + v + "');</style>");</script>

		<script>document.write("<script src='../../js/mui.min.js?v=" + v + "'><\/script>");</script>
		<script>document.write("<script src='../../js/clipboard.min.js?v=" + v + "'><\/script>");</script>
		
		<script>document.write("<link rel='icon' type='image/x-icon' href='../../images/chifanba.ico?v=" + v + "' />");</script>

		
		<!--<script type="text/javascript">
            var useragent = navigator.userAgent;
            if (useragent.match(/MicroMessenger/i) != 'MicroMessenger'){
            alert('请使用微信访问本页面！');
            var opened = window.open('about:blank', '_self');
            opened.opener = null;
            opened.close();
            }
       </script>-->
	</head>

	<body>
		<div class="mui-content">
			<div class="mui-content-padded" >
				<h1>淘宝双红包叠加方法</h1>
                <h3>2018.10.10更新</h3>
                <script>
	                	var clipboard = new ClipboardJS('.liangpiao1', {
					        text: function () {
					            return '【淘宝外卖】http://m.tb.cn/h.37agE3G 点击链接，再选择浏览器咑閞；或復·制这段描述￥r4nAbg6NPh4￥后咑閞👉淘♂寳♀👈';
					        }
					    });
                </script>
				<p>粮票链接：<a href="#" class="liangpiao1" onclick="liangpiao()">http://m.tb.cn/h.37agE3G（3元粮票，已更新）</a></p>
                <script>
		            	var clipboard = new ClipboardJS('.liangpiao2', {
					        text: function () {
					            return '【饿了么红I包兑换】http://m.tb.cn/h.37RnamC 点击链接，再选择浏览器咑閞；或復·制这段描述￥mRIbbg6KoHp￥后咑閞👉淘♂寳♀👈';
					        }
					    });
                </script>
				<p>粮票链接：<a href="#" class="liangpiao2" onclick="liangpiao()">http://m.tb.cn/h.37RnamC（5元粮票，已更新，非金主需要200淘宝币兑换）</a></p>
				<h2>使用方法</h2>
				<p>下载最新版手机淘宝客户端（安卓、IOS都适用）</p>
				<ul>
				<li>首先打开淘宝首页，点击上面的饿了么	。		
				<li>绑定自己的饿了么账号。
				<li>非饿了么超级会员，每日首次通过淘宝进入饿了么基本会送一个5元品质联盟红包。（别用饿了么客户端）
				<li>通过上方提供的链接可以领取淘宝饿了么专用粮票。（PS：粮票只能在淘宝客户端上面使用）
				<li>最后去点餐结算的时候就会看到使用了粮票和饿了么红包双包。
				</ul>
				<h3>图片说明</h3>
				<li>最新版淘宝首页上有饿了么
				<p><img src="./images/1.jpg"/></p>
				<li>选择我的，进行饿了么账号绑定
				<p><img src="./images/2.jpg"/></p>
				<li>非饿了么超级会员每日登陆可以活动一个品质联盟红包（非粮票，如果是饿了么超级会员可以用奖励金兑换红包）
				<p><img src="./images/3.jpg"/></p>
				<li>粮票（淘宝专用，饿了么客户端不显示）
				<p><img src="./images/4.jpg"/></p>
				<li>饿了么红包（淘宝，饿了么客户端通用，就是饿了么客户端下的各类红包）
				<p><img src="./images/5.jpg"/></p>
				<li>最后下单，可以看到这边既使用了粮票，又使用了饿了么红包，双包叠加减10元~
				<p><img src="./images/6.jpg"/></p>
				<li>PS：粮票请点击页面最上方提供的，每个账号每日各领取一次。
				<div id="info"></div>
			</div>
		</div>
		<div id="menu-backdrop" class="menu-backdrop"></div>
		<script type="text/javascript" charset="utf-8">
			function liangpiao(){
				mui.toast('口令复制成功，请打开手机淘宝领取粮票！')
			}
		</script>
	</body>
</html>