.pp11 {text-indent: 22px;padding: 5px 8px;}
.qrcode {/*position: absolute;*/top: 50px;/*left: 50%;*/width: 100%;/*-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0);*/text-align: center;}
.qrcode img {margin: 0 auto;}