.mui-content-padded {padding: 10px;}
.mui-content2 {background-color: #fff !important;}
code {word-wrap: break-word;word-break: normal;font-size: 90%;color: #c7254e;background-color: #f9f2f4;border-radius: 4px;}
.yuanmima{text-align:left;}
.mui-ligb{padding-bottom: 5px;padding-top: 5px;}
